.advantage{
    display: grid;
    grid-template-columns: 56px 1fr;
    grid-gap: $spacer-gutter;

    // text-align: center;

    &__icon{
        max-width: 100%;
        width: 44px;
        height: 100%;
    }
    &__title{
        font-size: map-get($map: $font-size, $key: lg);
        font-weight: $font-weight-bolder;
    }
    &__content{
        font-size: map-get($map: $font-size, $key: md);

        grid-column-start: 2;
        grid-column-end: 3;
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .advantage{
        &__content{
            font-size: map-get($map: $font-size, $key: md);
        }
    }
}