.props{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-gap: 2*$spacer-gutter;

    justify-content: space-between;

    &__title{
        font-size: map-get($map: $heading, $key: h3);
        line-height: $headings-line-height;
        font-weight: $font-weight-bold;
        white-space: nowrap;

        margin-bottom: $spacer-gutter;
    }
    &__offer{
        filter: opacity(.6);
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .props{
        grid-template-columns: repeat(3, 1fr);

        // &__title{
        //     font-size: map-get($map: $heading, $key: h4);
        // }
    }
}

// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .props{
        grid-template-columns: repeat(2, 1fr);
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .props{
        &__title{
            font-size: map-get($map: $heading, $key: h4);
        }
    }
}