.slider_inside{
    padding-top: 2*map-get($map: $spacers, $key: 3);
    transform: translateY(-48px);

    &.swiper-initialized{
        overflow: visible;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .slider_inside{
        padding-top: map-get($map: $spacers, $key: 2);
        transform: translateY(0);
    }
}