.slider_inside{
    padding-top: map-get($map: $spacers, $key: 2);
    // transform: translateY(-60px);

    &.swiper-initialized{
        overflow: visible;
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider_inside{
        padding-top: map-get($map: $spacers, $key: 1);
        // transform: translateY(0);
    }
}