section.content.content_trust.content_has-slider
    .container 
        h2.content_trust__heading Доверительное управление
        .tabs.mt-3.mt-sm-1
            .tabs__nav.tabs__nav_with-slider
                .tabs__item.tabs__item--active(data-content="#taball") Все&nbsp;стратегии
                .tabs__item(data-content="#tab1") Консервативный
                .tabs__item(data-content="#tab2") Умеренный
                .tabs__item(data-content="#tab3") Доходный
            .tabs__content.tabs__content--show.tabs__content--active#taball
                .slider.slider_inside
                    .slider__arrow.slider__arrow_next
                        <svg class="slider__arrow_icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="23" stroke="#1A1A1A" stroke-width="2"/>
                            <path d="M21 29.5527L25.9964 24.5455L21 19.5382L22.5382 18L29.0836 24.5455L22.5382 31.0909L21 29.5527Z" fill="#1A1A1A"/>
                        </svg>
                    .slider__arrow.slider__arrow_prev
                        <svg class="slider__arrow_icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="23" transform="rotate(-180 24 24)" stroke="#1A1A1A" stroke-width="2"/>
                            <path d="M27 18.4473L22.0036 23.4545L27 28.4618L25.4618 30L18.9164 23.4545L25.4618 16.9091L27 18.4473Z" fill="#1A1A1A"/>
                        </svg>
                    .slider__grid.slider__wrapper
                        .slider__slide
                            +item('./icon/strategy-evkalipt.svg','Эвкалипт','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
                        .slider__slide
                            +item('./icon/strategy-kedr.svg','Кедр','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.', 'Возврат от государства до 52 000 ₽ в год')
                        .slider__slide
                            +item('./icon/strategy-kiparis.svg','Кипарис','Консервативная','+24%','2 года','Инвестиции в паи из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
                        .slider__slide
                            +item('./icon/strategy-sandal.svg','Сандал','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
                        .slider__slide
                            +item('./icon/strategy-magnolia.svg','Магнолия','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
            .tabs__content#tab1
                .slider.slider_inside
                    .slider__arrow.slider__arrow_next
                        <svg class="slider__arrow_icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="23" stroke="#1A1A1A" stroke-width="2"/>
                            <path d="M21 29.5527L25.9964 24.5455L21 19.5382L22.5382 18L29.0836 24.5455L22.5382 31.0909L21 29.5527Z" fill="#1A1A1A"/>
                        </svg>
                    .slider__arrow.slider__arrow_prev
                        <svg class="slider__arrow_icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="23" transform="rotate(-180 24 24)" stroke="#1A1A1A" stroke-width="2"/>
                            <path d="M27 18.4473L22.0036 23.4545L27 28.4618L25.4618 30L18.9164 23.4545L25.4618 16.9091L27 18.4473Z" fill="#1A1A1A"/>
                        </svg>
                    .slider__grid.slider__wrapper
                        .slider__slide
                            +item('./icon/strategy-evkalipt.svg','Эвкалипт','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
                        .slider__slide
                            +item('./icon/strategy-kedr.svg','Кедр','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
                        .slider__slide
                            +item('./icon/strategy-kiparis.svg','Кипарис','Консервативная','+24%','2 года','Инвестиции в паи из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
                        .slider__slide
                            +item('./icon/strategy-sandal.svg','Сандал','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
                        .slider__slide
                            +item('./icon/strategy-magnolia.svg','Магнолия','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
            .tabs__content#tab2
                .slider.slider_inside
                    .slider__arrow.slider__arrow_next
                        <svg class="slider__arrow_icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="23" stroke="#1A1A1A" stroke-width="2"/>
                            <path d="M21 29.5527L25.9964 24.5455L21 19.5382L22.5382 18L29.0836 24.5455L22.5382 31.0909L21 29.5527Z" fill="#1A1A1A"/>
                        </svg>
                    .slider__arrow.slider__arrow_prev
                        <svg class="slider__arrow_icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="23" transform="rotate(-180 24 24)" stroke="#1A1A1A" stroke-width="2"/>
                            <path d="M27 18.4473L22.0036 23.4545L27 28.4618L25.4618 30L18.9164 23.4545L25.4618 16.9091L27 18.4473Z" fill="#1A1A1A"/>
                        </svg>
                    .slider__grid.slider__wrapper
                        .slider__slide
                            +item('./icon/strategy-evkalipt.svg','Эвкалипт','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
                        .slider__slide
                            +item('./icon/strategy-kedr.svg','Кедр','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
                        .slider__slide
                            +item('./icon/strategy-kiparis.svg','Кипарис','Консервативная','+24%','2 года','Инвестиции в паи из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
            .tabs__content#tab3
                .slider.slider_inside
                    .slider__arrow.slider__arrow_next
                        <svg class="slider__arrow_icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="23" stroke="#1A1A1A" stroke-width="2"/>
                            <path d="M21 29.5527L25.9964 24.5455L21 19.5382L22.5382 18L29.0836 24.5455L22.5382 31.0909L21 29.5527Z" fill="#1A1A1A"/>
                        </svg>
                    .slider__arrow.slider__arrow_prev
                        <svg class="slider__arrow_icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="23" transform="rotate(-180 24 24)" stroke="#1A1A1A" stroke-width="2"/>
                            <path d="M27 18.4473L22.0036 23.4545L27 28.4618L25.4618 30L18.9164 23.4545L25.4618 16.9091L27 18.4473Z" fill="#1A1A1A"/>
                        </svg>
                    .slider__grid.slider__wrapper
                        .slider__slide
                            +item('./icon/strategy-sandal.svg','Сандал','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
                        .slider__slide
                            +item('./icon/strategy-magnolia.svg','Магнолия','Консервативная','+24%','2 года','Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.')
