.tabs{
    &__nav{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
    &__item{
        padding: $spacer-gutter 2*$spacer-gutter;
        border: 2px solid $black;
        border-radius: 40px;

        margin-right: $spacer-gutter;
        cursor: pointer;
        transition: $transition-base;

        &--active{
            border-color: $green1;
            background: $green1;
            color: $white;
        }
    }
    &__content{
        display: none;
        transition: .3s;
        
        &_has-slider{
            opacity: 0;
        }

        &--active{
            display: block;
        }
        &--show{
            opacity: 1;
        }
    }
}