.tabs{
    &__nav{
        display: flex;
        align-items: flex-start;
        flex-direction: row;

        position: relative;
        z-index: 101;

        max-width: 100%;
        padding-bottom: $spacer-gutter;
        overflow: auto;

        &_with-slider{
            max-width: calc( 100% - 108px);
        }
    }
    &__item{
        padding: $spacer-gutter 2*$spacer-gutter;
        border: 2px solid $black;
        border-radius: 40px;
        line-height: 20px;

        margin-right: $spacer-gutter;
        cursor: pointer;
        transition: $transition-base;

        &:hover{
            border-color: $green1;
            color: $green1;
        }

        &--active{
            border-color: $green1;
            background: $green1;
            color: $white;

            &:hover{
                color: $white;
            }
        }

        &_inside{
            font-size: map-get($map: $font-size, $key: lg);
            font-weight: $font-weight-bold;
            filter: opacity(.6);

            white-space: nowrap;
    
            margin-right: map-get($map: $spacers, $key: 3);
    
            border-radius: 0;
            border: none;
            border-bottom: 4px solid $white;
    
            padding: 24px 0;
            
            &:hover{
                border-color: $white;
                filter: opacity(1);
            }

            &--active{
                color: $black;
                background: inherit;
                border-color: $green1;
                filter: opacity(1);

                &:hover{
                    color: $black;
                    border-color: $green1;
                }
            }
        }
    }
    &__content{
        display: none;
        transition: .3s;
        
        &_has-slider{
            opacity: 0;
        }

        &--active{
            display: block;
        }
        &--show{
            opacity: 1;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .tabs{
        &__nav{
            &_with-slider{
                max-width: 100%;
            }
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .tabs{
        // &__nav{
        //     max-width: 100%;
        //     padding-bottom: $spacer-gutter;
        //     overflow: scroll;
        // }
        &__item{
            padding: 8px 16px;

            &_inside{
                font-size: map-get($map: $font-size, $key: md);
                padding: 14px 0;
                margin-bottom: -12px;
                margin-right: map-get($map: $spacers, $key: 1);
            }
        }
    }
}