extends ../blocks/main.pug

block variables
    - var pageTitle = "Company"
block content
    section.content.content_inform
        .container 
            .row.justify-content-between.align-items-center.align-items-md-start.flex-md-column-reverse
                .col-6.col-lg-6.col-md-12.text-sm-center
                    h1.content_inform__heading О компании
                    p.content__offer.mb-2 ITI Менеджмент — современная управляющая компания с сильнейшей командой аналитиков. Доверяя нам свои деньги, вы получаете наш опыт, экспертизу и безусловный профессионализм.
                .col-5.col-lg-6.col-md-12
                    img.content_inform__image.content_inform__image-inside(src="./img/img-company-page.svg")
    //- section.content.bg-light-grey
    //-     .container 
    //-         .blockquote
    //-             img.blockquote__img(src="../icon/check.svg")
    //-             p.blockquote__text Мы предлагаем индивидуальный подход и эффективные решения, потому что мы уверены в своих силах и умении действовать для достижения лучших результатов. Всё просто: вы знаете свои цели, а мы знаем, как их реализовать.
    section.content.content_trust.bg-light-grey
        .container 
            .row.mb-1
                .col-7.col-xl-7.col-lg-8.col-md-12 
                    p.h2.mb-1 Направление <br/>деятельности
                    p.content__offer Мы предлагаем индивидуальный подход и эффективные решения, потому что мы уверены в своих силах и умении действовать для достижения лучших результатов. Всё просто: вы знаете свои цели, а мы знаем, как их реализовать.
            .row
                .col-4.col-xl-6.col-sm-12.mt-3.mt-sm-1
                    img.content_trust__icon.img-fluid(src="./icon/person.svg")
                    p.content__offer Индивидуальное доверительное управление активами
                .col-4.col-xl-6.col-sm-12.mt-3.mt-sm-1
                    img.content_trust__icon.img-fluid(src="./icon/circle.svg")
                    p.content__offer 
                        | Управление активами паевых инвестиционных фондов
                        span.content_trust__label Скоро
                .col-4.col-xl-6.col-sm-12.mt-3.mt-sm-1
                    img.content_trust__icon.img-fluid(src="./icon/dots.svg")
                    p.content__offer 
                        | Создание закрытых паевых инвестиционных фондов и управление их активами
                        span.content_trust__label Скоро
    section.content
        .container 
            p.h2 Преимущества
            .row 
                .col-4.col-xl-6.col-sm-12.mt-3.mt-sm-1
                    .advantage
                        img.advantage__icon(src="./icon/check.svg")
                        .advantage__title Технологии
                        .advantage__content Современные технологии управления финансами
                .col-4.col-xl-6.col-sm-12.mt-3.mt-sm-1
                    .advantage
                        img.advantage__icon(src="./icon/check.svg")
                        .advantage__title Управление
                        .advantage__content Технологичность в управлении бизнес-процессами
                .col-4.col-xl-6.col-sm-12.mt-3.mt-sm-1
                    .advantage
                        img.advantage__icon(src="./icon/check.svg")
                        .advantage__title Команда
                        .advantage__content Сильнейшая команда аналитиков
                .col-4.col-xl-6.col-sm-12.mt-3.mt-sm-1
                    .advantage
                        img.advantage__icon(src="./icon/check.svg")
                        .advantage__title Скорость
                        .advantage__content Высокая скорость принятия решений
                .col-4.col-xl-6.col-sm-12.mt-3.mt-sm-1
                    .advantage
                        img.advantage__icon(src="./icon/check.svg")
                        .advantage__title Поддержка
                        .advantage__content Полная поддержка клиентов 24/7
    section.content.bg-grey
        .container 
            p.h2.mb-3.mb-sm-1 Принципы компании
            .list.list_principle
                .list__item.list_principle__item Высокая скорость принятия решений
                .list__item.list_principle__item Ответственность за принятые решения
                .list__item.list_principle__item Индивидуальный подход
                .list__item.list_principle__item Ориентация на достижение целей клиента
                .list__item.list_principle__item Строгое соблюдение законодательства
                .list__item.list_principle__item Прозрачность бизнеса 
                .list__item.list_principle__item Готовность к решению нестандартных задач
                .list__item.list_principle__item Совершенствование методов работы с клиентами
block footer
    //- script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")