extends ../blocks/main.pug

block variables
    - var pageTitle = "Company"
block content
    section.content.content_titulary
        .container 
            .row.align-items-center.align-items-md-start.flex-md-column-reverse
                .col-6.col-lg-7.col-md-12.text-sm-center
                    h1.content_titulary__heading ITI Менеджмент
                    p.content__offer.mb-2 ITI Менеджмент — современная управляющая компания с сильнейшей командой аналитиков. Доверяя нам свои деньги, вы получаете наш опыт, экспертизу и безусловный профессионализм.
                .col-6.col-lg-5.col-md-12
                    img.content_titulary__image.content_titulary__image-inside(src="./img/default.png")
    section.content.bg-light-grey
        .container 
            .blockquote
                img.blockquote__img(src="../icon/check.svg")
                p.blockquote__text Мы предлагаем индивидуальный подход и эффективные решения, потому что мы уверены в своих силах и умении действовать для достижения лучших результатов. Всё просто: вы знаете свои цели, а мы знаем, как их реализовать.
    section.content.content_trust
        .container 
            .row.align-items-center.align-items-md-start.flex-md-column-reverse
                .col-7.col-xl-7.col-lg-8.col-md-12 
                    p.h2.mb-3 Направление <br/>деятельности
                    p.content__offer Индивидуальное доверительное управление активами
                    p.content__offer 
                        span.content_trust__label Скоро
                        | Управление активами паевых инвестиционных фондов
                    p.content__offer 
                        span.content_trust__label Скоро
                        | Создание закрытых паевых инвестиционных фондов и управление их активами
                .col-5.col-xl-5.col-lg-4.col-md-12
                    img.content_trust__image(src="./img/strategy.png")
    section.content.bg-light-grey
        .container 
            p.h2.text-center.mb-0 Преимущества
            .row.justify-content-center 
                .col-4.col-lg-6.col-sm-12.mt-3.mt-sm-1
                    .advantage
                        img.advantage__icon(src="./icon/plus.svg")
                        .advantage__content Современные технологии управления финансами
                .col-4.col-lg-6.col-sm-12.mt-3.mt-sm-1
                    .advantage
                        img.advantage__icon(src="./icon/check.svg")
                        .advantage__content Технологичность в управлении бизнес-процессами
                .col-4.col-lg-6.col-sm-12.mt-3.mt-sm-1
                    .advantage
                        img.advantage__icon(src="./icon/team.svg")
                        .advantage__content Сильнейшая команда аналитиков
                .col-4.col-lg-6.col-sm-12.mt-3.mt-sm-1
                    .advantage
                        img.advantage__icon(src="./icon/arrow.svg")
                        .advantage__content Высокая скорость принятия решений
                .col-4.col-lg-6.col-sm-12.mt-3.mt-sm-1
                    .advantage
                        img.advantage__icon(src="./icon/circle.svg")
                        .advantage__content Полная поддержка клиентов 24/7
    section.content
        .container 
            p.h2.mb-3.mb-sm-1 Принципы компании
            .list.list_principle
                .list__item.list_principle__item Высокая скорость принятия решений
                .list__item.list_principle__item Ответственность за принятые решения
                .list__item.list_principle__item Индивидуальный подход
                .list__item.list_principle__item Ориентация на достижение целей клиента
                .list__item.list_principle__item Строгое соблюдение законодательства
                .list__item.list_principle__item Прозрачность бизнеса 
                .list__item.list_principle__item Готовность к решению нестандартных задач
                .list__item.list_principle__item Совершенствование методов работы с клиентами
block footer
    //- script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")