extends ../blocks/main.pug

block variables
    - var pageTitle = "Index Page"
    link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block content
    section.content.content_titulary
        .container 
            .row.align-items-center
                .col-6.col-sm-12 
                    h1.content_titulary__heading Инвестиции — это&nbsp;просто
                    p.content__offer.content_titulary__offer.mb-2 Ваши доходы растут под нашим надёжным управлением
                    a.btn.btn_action(href="#") Подобрать стратегию
                .col-6.col-sm-12 
                    img.content_titulary__image(src="./img/titulary.png")
    include ../items/slider/slider.pug
    section.content.content_strategy
        .container 
            .row.align-items-center
                .col-7.col-sm-12 
                    h3.text-bold Поможем выбрать стратегию
                    p.content_strategy__offer.mb-2 Если вы не&nbsp;знаете, какую стратегию выбрать, или вы&nbsp;хотите узнать, 
                        | как мы&nbsp;работаем  — с&nbsp;удовольствием всё расскажем. 
                    form.form.form_strategy
                        input.input(type="tel" data-input="phone" placeholder="Inter phone number")
                        button.btn.btn_action.form_strategy__btn Подобрать стратегию
                .col-5.col-sm-12
                    img.content_strategy__image(src="./img/strategy.png")
    section.content
        .container
            .pb-2
                h2.text-center.mb-1 Что такое доверительное управление?
                p.content__offer.text-center Доверительное управление — это передача средств в распоряжение управляющей компании с целью получения прибыли. УК вкладывает ваш капитал в акции, облигации и другие инструменты фондовой биржи. По сути, при доверительном управлении вы «нанимаете» менеджера, который вместо вас следит за рынком, принимает решения и зарабатывает для вас деньги.
            .row.pt-2
                .col-4.col-sm-12
                    .info
                        img.info__image(src="./icon/arrow.svg")
                        p.info__title Как это работает
                        p.info__content Вы выбираете стратегию, срок вложений, валюту, рынок, уровень риска и другие детали. Затем заключается договор и открывается счёт. Управляющая компания работает с вашим портфелем, продавая или покупая активы, ориентируясь на оперативные рыночные данные, аналитику и собственную экспертизу.
                .col-4.col-sm-12
                    .info
                        img.info__image(src="./icon/circle.svg")
                        p.info__title Прозрачность работы
                        p.info__content Вы можете в любой момент отслеживать движение ваших финансов через личный кабинет. Вы увидите, из чего состоит ваш портфель, какие сделки проводятся и к каким результатам они приводят, какую комиссию и от каких сумм получает управляющая компания. Вся отчётность — перед вашими глазами. 
                .col-4.col-sm-12
                    .info
                        img.info__image(src="./icon/plus.svg")
                        p.info__title Преимущества
                        p.info__content Доверительное управление — это возможность заработать больше, чем при открытии банковского вклада или вложении в паевые фонды. Вам не нужно вникать в тонкости инвестиционной деятельности. Индивидуальный подход и широкие возможности для инвестиций, а значит, более высокий доход.
    section.content.content_trust.bg-light-grey 
        .container 
            .row.align-items-center
                .col-6.col-sm-12 
                    p.h2.content_trust__heading О компании
                    p.content__offer.text-bold.mb-1 С нами инвестиции — это просто.
                    p.content__offer.mb-1 ITI Менеджмент — современная управляющая компания. Наша специализация — финансовые и инвестиционные услуги физическим лицам. Мы профессионально и эффективно управляем вашими средствами, помогая вам стабильно увеличивать доход. 
                    a.content_trust__link(href="#") Подробнее
                .col-6.col-sm-12
                    img.content_trust__image(src="./img/default.png")
block footer
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")