extends ../blocks/main.pug

block variables
    - var pageTitle = "Inform"
block content
    section.content.content_inform
        .container 
            .row.align-items-center.align-items-md-start.flex-md-column-reverse
                .col-6.col-lg-7.col-md-12.text-sm-center
                    h1.content_inform__heading Раскрытие информации
                    p.content__offer.mb-2 Раскрытие информации в соответствии с Указанием Банка России от 28.12.2015 № 3921-У «О составе, объеме, порядке и сроках раскрытия информации профессиональными участниками рынка ценных бумаг»
                .col-6.col-lg-5.col-md-12
                    img.content_inform__image(src="./img/default.png")
    section.inform.inform_heading
        .container
            .row.text-bold
                .col-4.col-lg-12 Информация, подлежащая раскрытию
                .col-2.col-lg-12 Дата публикации
                .col-2.col-lg-12 Дата публикации
                .col-4.col-lg-12 Раскрываемая информация или&nbsp;ссылка на&nbsp;страницу, где информация раскрыта
    section.inform.inform_odd
        .container
            .row
                .inform__item.col-4.col-lg-12 
                    .inform__content Полное и сокращенное фирменное наименование Банка, в том числе на иностранном языке
                    .inform__label Информация, подлежащая раскрытию
                .inform__item.col-2.col-lg-12 
                    .inform__content 23.05.2016
                    .inform__label Дата публикации
                .inform__item.col-2.col-lg-12 
                    .inform__content Информация актуальна в&nbsp;настоящее время
                    .inform__label Дата публикации
                .inform__item.col-4.col-lg-12 
                    .inform__content Полное наименование: Публичное акционерное общество Банк «Финансовая Корпорация Открытие»
                        | <br>Сокращенное наименование: ПАО Банк «ФК Открытие»
                        | <br>Полное наименование на английском языке: Public Joint-Stock Company «Bank Otkritie Financial Corporation»
                        | <br>Сокращенное наименование на английском языке: «Bank Otkritie Financial Corporation» (Public Joint-Stock Company)
                        | <br>Дата регистрации: 15 декабря 1992 года
                    .inform__label Раскрываемая информация или&nbsp;ссылка на&nbsp;страницу, где информация раскрыта
    section.inform.inform_even
        .container
            .inform__content.row
                .inform__item.col-4.col-lg-12 
                    .inform__content Идентификационный номер налогоплательщика
                    .inform__label Информация, подлежащая раскрытию
                .inform__item.col-2.col-lg-12
                    .inform__content 23.05.2016
                    .inform__label Дата публикации
                .inform__item.col-2.col-lg-12 
                    .inform__content Информация актуальна в&nbsp;настоящее время
                    .inform__label Дата публикации
                .inform__item.col-4.col-lg-12 
                    .inform__content ИНН: 7706092528
                    .inform__label Раскрываемая информация или&nbsp;ссылка на&nbsp;страницу, где информация раскрыта
    section.inform.inform_odd 
        .container
            .inform__content.row
                .inform__item.col-4.col-lg-12 
                    .inform__content Адрес Банка, указанный в ЕГРЮЛ
                    .inform__label Информация, подлежащая раскрытию
                .inform__item.col-2.col-lg-12 
                    .inform__content 23.05.2016
                    .inform__label Дата публикации
                .inform__item.col-2.col-lg-12 
                    .inform__content Информация актуальна в&nbsp;настоящее время
                    .inform__label Дата публикации
                .inform__item.col-4.col-lg-12 
                    .inform__content Юридический адрес: 115114, г. Москва, ул. Летниковская, д. 2, стр. 4
                        | <br>Фактический адрес: 115114, г. Москва, ул. Летниковская, д. 2, стр. 4
                        | <br>Почтовый адрес: 115114, г. Москва, ул. Летниковская, д. 2, стр. 4
                    .inform__label Раскрываемая информация или&nbsp;ссылка на&nbsp;страницу, где информация раскрыта
    section.inform.inform_even
        .container
            .inform__content.row
                .inform__item.col-4.col-lg-12 
                    .inform__content Номер телефона, факса Банка
                    .inform__label Информация, подлежащая раскрытию
                .inform__item.col-2.col-lg-12 
                    .inform__content 23.05.2016
                    .inform__label Дата публикации
                .inform__item.col-2.col-lg-12 
                    .inform__content Информация актуальна в&nbsp;настоящее время
                    .inform__label Дата публикации
                .inform__item.col-4.col-lg-12
                    .inform__content  Телефон: 8 (495) 224-44-00,
                        | <br>Факс: 8 (495) 797-32-50
                    .inform__label Раскрываемая информация или&nbsp;ссылка на&nbsp;страницу, где информация раскрыта
    section.inform.inform_odd 
        .container
            .inform__content.row
                .inform__item.col-4.col-lg-12 
                    .inform__content Адрес электронной почты Банка
                    .inform__label Информация, подлежащая раскрытию
                .inform__item.col-2.col-lg-12 
                    .inform__content 23.05.2016
                    .inform__label Дата публикации
                .inform__item.col-2.col-lg-12 
                    .inform__content Информация актуальна в&nbsp;настоящее время
                    .inform__label Дата публикации
                .inform__item.col-4.col-lg-12 
                    .inform__content E-mail: 
                        a(href="mailto:info@open.ru") info@open.ru
                    .inform__label Раскрываемая информация или&nbsp;ссылка на&nbsp;страницу, где информация раскрыта
    section.inform.inform_even 
        .container
            .inform__content.row
                .inform__item.col-4.col-lg-12 
                    .inform__content Фамилия, имя, отчество лица, временно исполняющего функции единоличного исполнительного органа Банка в случае назначения его на должность на срок, превышающий два месяца
                    .inform__label Информация, подлежащая раскрытию
                .inform__item.col-2.col-lg-12 
                    .inform__content 01.01.2018
                    .inform__label Дата публикации
                .inform__item.col-2.col-lg-12 
                    .inform__content Информация актуальна в&nbsp;настоящее время
                    .inform__label Дата публикации
                .inform__item.col-4.col-lg-12 
                    .inform__content Основание для раскрытия информации отсутствует
                    .inform__label Раскрываемая информация или&nbsp;ссылка на&nbsp;страницу, где информация раскрыта
    section.inform.inform_odd 
        .container
            .inform__content.row
                .inform__item.col-4.col-lg-12 
                    .inform__content Электронные копии всех лицензий Банка на осуществление профессиональной деятельности на рынке ценных бумаг.
                    .inform__label Информация, подлежащая раскрытию
                .inform__item.col-2.col-lg-12 
                    .inform__content 03.09.2016
                    .inform__label Дата публикации
                .inform__item.col-2.col-lg-12 
                    .inform__content Информация актуальна в&nbsp;настоящее время
                    .inform__label Дата публикации
                .inform__item.col-4.col-lg-12 
                    .inform__content 
                        a.link-inverse(href="https://www.open.ru/about/license") https://www.open.ru/about/license
                    .inform__label Раскрываемая информация или&nbsp;ссылка на&nbsp;страницу, где информация раскрыта
    section.toggle
        .bg-light-grey
            .container
                .toggle__title Критерии отнесения Клиента к иностранному налогоплательщику
        .toggle__content.bg-lightest-grey
            .container
                .list.list_numeric.list_numeric-heading
                    .list_numeric__num 1
                    .list_numeric__content Общие положения
                .list.list_numeric
                    .list_numeric__num 1.1
                    .list_numeric__content Настоящий «Порядок проведения ООО «УК «Ай Ти Ай Менеджмент» мероприятий, связанных с выявлением лиц, на которых распространяется законодательство иностранного государства о  налогообложении иностранных счетов» (далее – Порядок) устанавливает особенности  осуществления ООО «УК «Ай Ти Ай Менеджмент» (далее – Общество) финансовых операций на  территории Российской Федерации с лицами, на которых распространяется законодательство  иностранного государства о налогообложении иностранных счетов.
                .list.list_numeric
                    .list_numeric__num 1.2
                    .list_numeric__content 
                        p Общество в целях исполнения требований Федерального закона от 28.06.2014 г. No 173-ФЗ «Об особенностях осуществления финансовых операций с иностранными гражданами и юридическими
                            | лицами, о внесении изменений в Кодекс Российской Федерации об административных
                            | правонарушениях и признании утратившими силу отдельных положений законодательных актов
                            | Российской Федерации» (далее – Федеральный закон 173-ФЗ) принимает обоснованные и доступные
                            | в сложившихся обстоятельствах меры по выявлению среди лиц, заключающих (заключивших) с
                            | Обществом договор, предусматривающий оказание финансовых услуг (далее – Клиент), лиц, на
                            | которых распространяется законодательство иностранного государства о налогообложении
                            | иностранных счетов (далее – Клиент-иностранный налогоплательщик), в том числе определяет
                            | критерии их отнесения к категории Клиентов-иностранных налогоплательщиков и способы
                            | получения соответствующей информации. 
                .list.list_numeric
                    .list_numeric__num 1.3
                    .list_numeric__content 
                        p Настоящий порядок дополнительно определяет критерии отнесения Клиентов к категории лиц, на
                            | которых распространяется действие Закона США «О налогообложении иностранных счетов» (далее
                            | – Закон FATCA), и способы получения от них необходимой информации. 
                .list.list_numeric.list_numeric-heading
                    .list_numeric__num 2 
                    .list_numeric__content 
                        p Критерии отнесения Клиентов Общества к категории Клиента-иностранного налогоплательщика
                .list.list_numeric
                    .list_numeric__num 2.1
                    .list_numeric__content 
                        p Клиент-физическое лицо (индивидуальный предприниматель) относится к категории иностранного налогоплательщика при наличии одного из следующих признаков: 
                .list.list_numeric
                    .list_numeric__num 2.1.1
                    .list_numeric__content 
                        p Наличие гражданства иностранного государства;
                .list.list_numeric
                    .list_numeric__num 2.1.2
                    .list_numeric__content 
                        p Наличие одновременно с гражданством Российской Федерации гражданства иностранного государства (за исключением гражданства государства-члена Таможенного союза);
                .list.list_numeric
                    .list_numeric__num 2.1.3 
                    .list_numeric__content 
                        p Наличие разрешения на постоянное пребывание (вида на жительство) в иностранном государстве (например, карточка постоянного жителя США (форма I-551 «Green Card»));
                .list.list_numeric
                    .list_numeric__num 2.1.4 
                    .list_numeric__content 
                        p Наличие налогового резидентства в иностранном государстве в соответствии с критерием
                            | «долгосрочного пребывания в иностранном государстве», то есть нахождение на территории этого
                            | государства не менее срока, установленного законодательством иностранного государства для
                            | признания налогоплательщиком – налоговым резидентом иностранного государства (применительно
                            | к США налоговым резидентом считается физическое лицо, если оно находилось на территории США
                            | не менее 31 (Тридцати одного) дня в течение текущего календарного года и не менее 183 дней в
                            | течение 3 (Трех) лет, включая текущий год и два непосредственно предшествующих года. При этом
                            | сумма дней, в течение которых физическое лицо присутствовало на территории иностранного
                            | государства в текущем году, а также в двух предшествующих годах, умножается на установленный
                            | коэффициент:
                        ul 
                            li Коэффициент для текущего года равен 1 (то есть учитываются все дни, проведенные в США в  текущем году);
                            li Коэффициент предшествующего года равен 1/3;
                            li Коэффициент позапрошлого года равен 1/6. 
                        p Налоговыми резидентами США не признаются учителя, студенты и стажеры, временно  присутствовавшие на территории США на основании виз типа «F», «J», «M» или «Q»).  2.1.5. Наличие иных признаков, установленных Обществом в процессе идентификации, на основании  которых можно сделать вывод об отнесении Клиента к категории иностранного налогоплательщика. Для налогоплательщиков США такими признаками являются:
                        ul 
                            li Место рождения в США; 
                            li Адрес (почтовый адрес, включая почтовый ящик в США); 
                            li Телефонный номер США;
                            li Постоянно действующие инструкции по платежам в США;
                            li Доверенность, выданная лицу с адресом в США;
                            li Право подписи предоставлено лицу с адресом в США;
                            li В качестве единственного адреса для направления клиентских отчетов по договорам на  обслуживание, открытым в Организации, в отношении данного лица указано «для передачи» или «до  востребования»).  
                .list.list_numeric
                    .list_numeric__num 2.2 
                    .list_numeric__content 
                        p Клиент-юридическое лицо относится к категории иностранного налогоплательщика при наличии  одного из следующих признаков:  
                .list.list_numeric
                    .list_numeric__num 2.2.1
                    .list_numeric__content 
                        p Страной регистрации/учреждения юридического лица является иностранное государство, при этом  юридическое лицо не относится к категории юридических лиц, исключенных из-под действия  требований иностранного налогового законодательства; 
                .list.list_numeric
                    .list_numeric__num 2.2.2
                    .list_numeric__content 
                        p Наличие налогового резидентства в иностранном государстве; 
                .list.list_numeric
                    .list_numeric__num 2.2.3
                    .list_numeric__content 
                        p Наличие иностранных контролирующих лиц, которым прямо или косвенно принадлежит пакет акций  (долей) уставного капитала общества, признаваемый существенным соответствующим иностранным  законодательством (применительно к США иностранным налогоплательщиком признается  юридическое лицо, в котором контролирующим лицам (существенным собственникам) прямо или  косвенно принадлежит более 10 % акций (долей) уставного капитала). При этом контролирующими  лицами в том числе являются:  
                        ul 
                            li Физические лица, которые признаны иностранными налогоплательщиками на основании критериев,  изложенных в п. 2.1. настоящего Порядка;
                            li Юридические лица, признанные иностранными налогоплательщиками на основании критериев,  изложенных в п. 2.2. настоящего Порядка.
                .list.list_numeric
                    .list_numeric__num 2.2.4
                    .list_numeric__content 
                        p Наличие дополнительных признаков, установленных Обществом, на основании которых можно  сделать вывод об отнесении Клиента-юридического лица или его контролирующих лиц к категории  иностранного налогоплательщика (для налогоплательщиков США такими признаками являются:
                        ul 
                            li Почтовый адрес в США;
                            li Телефонный номер США;
                            li Доверенность, выданная лицу с адресом в США;
                            li Право подписи, выданное лицу с адресом в США;
                            li В качестве единственного адреса для направления клиентских отчетов указано «для передачи» или  «до востребования»). 
                .list.list_numeric
                    .list_numeric__num 2.3
                    .list_numeric__content
                        p Если иное не установлено действующим законодательством Российской Федерации, не относятся к  категории Клиента-иностранного налогоплательщика: 
                .list.list_numeric
                    .list_numeric__num 2.3.1
                    .list_numeric__content 
                        p Физическое лицо (индивидуальный предприниматель) в том случае, если физическое лицо  (индивидуальный предприниматель) является гражданином Российской Федерации и не имеет  одновременно с гражданством Российской Федерации второго гражданства в иностранном  государстве (за исключением гражданства государства-члена Таможенного союза), вида на  жительство в иностранном государстве (разрешения на постоянное пребывание в иностранном  государстве);
                .list.list_numeric
                    .list_numeric__num 2.3.2
                    .list_numeric__content 
                        p Юридические лица, созданные в соответствии с законодательством Российской Федерации, более 90  % акций (долей) уставного капитала которые прямо или косвенно контролируются Российской  Федерацией и (или) гражданами Российской Федерации, в том числе имеющими одновременно с  гражданством Российской Федерации гражданство государства-члена Таможенного союза, за  исключением физических лиц, имеющих наряду с гражданством Российской Федерации гражданство иного государства (за исключением гражданства государства-члена Таможенного союза) или  имеющих вид на жительство в иностранном государстве или проживающих постоянно (долгосрочно  пребывающих) в иностранном государстве.
                .list.list_numeric
                    .list_numeric__num 2.4
                    .list_numeric__content 
                        p Не относятся к категории Клиента-иностранного налогоплательщика в соответствии с настоящими  критериями Российская Федерация, субъекты Российской Федерации: республики, края, области,  города федерального значения, автономная область, автономные округа, а также городские, сельские  поселения и другие муниципальные образования в лице органов государственной власти или органов  местного самоуправления.
                .list.list_numeric.list_numeric-heading
                    .list_numeric__num 3
                    .list_numeric__content 
                        p Категории юридических лиц, не подпадающих под действие FATCA
                .list.list_numeric
                    .list_numeric__num 3.1
                    .list_numeric__content
                        p Исключенные финансовые институты (Excepted FFI): 
                .list.list_numeric
                    .list_numeric__num 3.1.1
                    .list_numeric__content 
                        p Организации, являющиеся членами исключенных нефинансовых групп (Excepted nonfinancial group  entities) (не подпадают под требования FATCA при соблюдении определенных условий). К данной  группе относятся нефинансовые холдинговые компании, хеджинговые и финансовые центры  нефинансовых групп, за исключением инвестиционных фондов;
                .list.list_numeric
                    .list_numeric__num 3.1.2
                    .list_numeric__content 
                        p Вновь создаваемые нефинансовые компании – «стартап» и компании, запускающие новые линии  бизнеса (Excepted nonfinancial start-up companies or companies entering a new line of business), за  исключением компаний, которые осуществляют свою деятельность (или позиционируют себя) как  фонды прямого инвестирования, фонды венчурного капитала, фонды заемных средств или иные  подобные инвестиционные компании, созданные с инвестиционной целью приобретения или  финансирования компаний или владения долей в данных компаниях в качестве капитальных активов,  приобретенных в инвестиционных целях;
                .list.list_numeric
                    .list_numeric__num 3.1.3
                    .list_numeric__content 
                        p Организации в процессе ликвидации или банкротства (Excepted nonfinancial entities in liquidation or  bankruptcy);  
                .list.list_numeric
                    .list_numeric__num 3.1.4
                    .list_numeric__content 
                        p Внутригрупповые финансовые институты (Excepted inter-affiliate FFI);
                .list.list_numeric
                    .list_numeric__num 3.1.5
                    .list_numeric__content 
                        p Организации США, определенные в секции 501(c) Налогового кодекса США, к которым относятся  некоммерческие организации, освобожденные от налогообложения в США, в том числе, например:
                        ul 
                            li Благотворительные, религиозные, образовательные, научные, литературные организации;
                            li Организации, проводящие испытания в целях общественной безопасности;
                            li Организации, содействующие национальным или международным любительским спортивным  соревнованиям;
                            li Организации, препятствующие жестокому обращению с детьми или животными.
                            li Благотворительные, религиозные, образовательные, научные, литературные организации;
                            li Организации, проводящие испытания в целях общественной безопасности;
                            li Организации, содействующие национальным или международным любительским спортивным  соревнованиям;
                            li Организации, препятствующие жестокому обращению с детьми или животными.
                .list.list_numeric
                    .list_numeric__num 3.1.6
                    .list_numeric__content 
                        p Некоммерческие организации (Non-profit organizations). 
                .list.list_numeric
                    .list_numeric__num 3.2
                    .list_numeric__content
                        p Юридические лица, освобожденные из-под действия FATCA по признаку статуса бенефициарного  владельца (Exempt beneficial owners): 
                .list.list_numeric
                    .list_numeric__num 3.2.1
                    .list_numeric__content 
                        p Органы власти и правительственные учреждения, либо юридические лица, полностью им  принадлежащие; 
                .list.list_numeric
                    .list_numeric__num 3.2.2
                    .list_numeric__content 
                        p Международные организации либо организации, полностью им принадлежащие; 
                .list.list_numeric
                    .list_numeric__num 3.2.3
                    .list_numeric__content 
                        p Центральные банки и эмиссионные банки;
                .list.list_numeric
                    .list_numeric__num 3.2.4
                    .list_numeric__content 
                        p Органы власти территорий США;
                .list.list_numeric
                    .list_numeric__num 3.2.5
                    .list_numeric__content 
                        p Отдельные виды пенсионных фондов;
                .list.list_numeric
                    .list_numeric__num 3.2.6
                    .list_numeric__content 
                        p Инвестиционные институты, полностью принадлежащие освобожденным бенефициарным  владельцам, при условии, что каждый прямой владелец долевого участия в организации – освобожденный бенефициарный владелец, и каждый прямой владелец доли участия в заемном  капитале такой организации является или депозитным институтом (относительно займа,  предоставленного такой организации), или освобожденным бенефициарным владельцем. 
                .list.list_numeric
                    .list_numeric__num 3.2.7
                    .list_numeric__content 
                        p Внутригрупповые финансоИные организации в соответствии с положениями соответствующего согласованного Приложения II  к межправительственному соглашению по Модели 1 или 2 (в случае, если юридическое лицо создано  в стране, с которой США имеет соответствующее соглашение по FATCA). вые институты (Excepted inter-affiliate FFI);
                .list.list_numeric
                    .list_numeric__num 3.3
                    .list_numeric__content
                        p Финансовые институты, исключенные из-под действия FATCA:
                .list.list_numeric
                    .list_numeric__num 3.3.1
                    .list_numeric__content 
                        p Финансовые организации, задокументированные владельцем (Оwner documented FFI);  3.3.2. Признанные соблюдающими требования FATCA финансовые институты, подлежащие сертификации  (Certified deemed-compliant FFI), к которым относятся:
                        ul 
                            li Местные банки (Nonregistering local bank);
                            li Организации, Финансовые организации, открывающие счета, остаток на которых ниже минимально установленных  порогов (FFI with only low-value accounts); проводящие испытания в целях общественной безопасности;
                            li Спонсируемые инвестиционные компании закрытого типа (Sponsored, closely held investment vehicles);
                            li Инвестиционные консультанты и инвестиционные менеджеры;
                            li Инвестиционные компании ограниченного срока действия, инвестирующие в долговые инструменты  (Limited life debt investment entities).
                .list.list_numeric
                    .list_numeric__num 3.4
                    .list_numeric__content 
                        p Нефинансовые иностранные организации (NFFE) – иностранные юридические лица, которые не  являются финансовыми институтами, либо иностранные юридические лица, рассматриваемые как  нефинансовая иностранная организация в соответствии с межправительственным соглашением по  Модели 1 или Модели 2 (в случае, если юридическое лицо создано в стране, с которой США имеет  соответствующее соглашение по FATCA). 
                .list.list_numeric.list_numeric-heading
                    .list_numeric__num 4
                    .list_numeric__content 
                        p Способы получения информации для целей отнесения Клиентов к категории Клиента иностранного налогоплательщика
                .list.list_numeric
                    .list_numeric__num 4.1
                    .list_numeric__content
                        p Письменные и устные запросы/вопросы Клиенту.  
                .list.list_numeric
                    .list_numeric__num 4.2
                    .list_numeric__content
                        p Заполнение Клиентом формы, подтверждающей/опровергающей возможность его отнесения к  иностранным налогоплательщикам (в том числе, разработанной Налоговой службой США (Internal Revenue Service), Форма W-9 заполняется физическими и юридическими лицами - резидентами США,  форма W-8BEN-E заполняется юридическими лицами-нерезидентами США. Форма W-8BEN  заполняется физическими лицами-нерезидентами США). 
                .list.list_numeric
                    .list_numeric__num 4.3
                    .list_numeric__content
                        p Анализ доступной информации о Клиенте. 
                .list.list_numeric
                    .list_numeric__num 4.4
                    .list_numeric__content
                        p Иные действия, разумные и достаточные в соответствующей ситуации. 
                .list.list_numeric.list_numeric-heading
                    .list_numeric__num 5
                    .list_numeric__content 
                        p Дополнительная информация
                .list.list_numeric
                    .list_numeric__num 5.1
                    .list_numeric__content
                        p В соответствии с Федеральным законом 173-ФЗ, Общество вправе запрашивать Клиентов, в  отношении которых имеются обоснованные предположения, что Клиент является иностранным  налогоплательщиком, информацию, идентифицирующую его в качестве иностранного  налогоплательщика, а также согласие клиента на предоставление этой информации в иностранный  налоговый орган. Согласие Клиента на предоставление такой информации является также согласием  на передачу такой информации в уполномоченные органы Российской Федерации (Банк России,  Росфинмониторинг, ФНС). 
                .list.list_numeric
                    .list_numeric__num 5.2
                    .list_numeric__content
                        p В случае не предоставления Клиентом запрашиваемой Обществом информации в течение 10 (Десяти)  рабочих дней со дня направления запроса, а также в случае отказа от предоставления согласия на  передачу информации в уполномоченные органы, Общество вправе:
                        ul 
                            li Отказать Клиенту в заключении договора, предусматривающего оказание финансовых услуг; 
                            li Принять решение об отказе от совершения операций, осуществляемых в интересах, в пользу и по  поручению такого Клиента по договору оказания финансовых услуг,
                            li Расторгнуть в одностороннем порядке договор оказания финансовых услуг, уведомив Клиента не  ранее чем за 30 (Тридцать) календарных дней до дня расторжения соответствующего договора.
block footer
    //- script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")