extends ../blocks/main.pug

block variables
    - var pageTitle = "Inside Page"
    link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block content
    section.content.content_titulary.content_titulary-inside
        .container 
            .row.align-items-center.align-items-md-start.flex-md-column-reverse
                .col-7.col-lg-7.col-md-12.text-sm-center
                    h1.content_titulary__heading Кедр
                    p.content__offer.mb-2 это инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.
                    a.btn.btn_action(href="#") Описание стратегии
                .col-5.col-lg-5.col-md-12
                    img.content_titulary__image.content_titulary__image-inside(src="./icon/strategy-kedr.svg")
                    //- img.content_titulary__image.content_titulary__image-inside(src="./icon/strategy-magnolia.svg")
    section.content.content_props
        .container
            .props
                .props__item
                    .props__title +24%
                    .props__offer Ожидаемая <br>доходность
                .props__item
                    .props__title 5 лет
                    .props__offer Минимальный <br>срок вложений
                .props__item
                    .props__title 100 000 ₽
                    .props__offer Минимальная <br>сумма вложения
                .props__item
                    .props__title 1 млн ₽
                    .props__offer Возможные <br>суммы взносов
                .props__item
                    .props__title Рубли РФ
                    .props__offer Валюта <br>вложений
    section.calculator(data-percent="24" data-stragery="1" data-period="5" data-min="1" data-max="10" data-start="2")
        .container
            p.h2.mb-2 Калькулятор доходности
            p.calculator__title Сумма вложения
            p.calculator__num
                span#incomingData  
                span.calculator__incoming-cur ₽
            .calculator__slider
                #calculatorSlider
            .calculator__result
                .calculator__yield
                    p.calculator__title Доходность за 5 лет
                    p.calculator__num
                        span#yieldData  
                        span.calculator__incoming-cur ₽
                .calculator__return
                    p.calculator__title Возврат от государства 13%
                    p.calculator__num +&nbsp;
                        span#refundData  
                        span.calculator__incoming-cur ₽
                    a.calculator__link(href="#") Подробнее
                    .calculator__modal 
                        .calculator__modal-close 
                        .calculator__modal-label Подробнее
                        .calculator__modal-heading Возврат от государства
                        .calculator__modal-content Вы можете в любой момент отслеживать движение ваших финансов через личный кабинет. Вы увидите, из чего состоит ваш портфель, какие сделки проводятся и к каким результатам они приводят, какую комиссию и от каких сумм получает управляющая компания. Вся отчётность — перед вашими глазами.

                .calculator__ready 
                    a.btn.btn_action.calculator__ready-btn(href="#") Оформить онлайн
    section.content.content_about
        .container
            .row
                .col-9.col-lg-12
                    p.h2.mb-2.mb-sm-1 Описание стратегии
                    p.content__offer Стратегия «Название стратегии» — это инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF. Экономика Китая — крупнейшая в мире по ППС, с мощной промышленностью и передовыми новейшими технологиями. 
        .tabs
            .content_about__nav.mt-3.mt-xs-1
                .container
                        .tabs__nav.content_about__nav-tabs
                            .tabs__item.tabs__item_inside.tabs__item_inside--active(data-content="#tab1content") Условия стратегии
                            .tabs__item.tabs__item_inside(data-content="#tab2content") Требования к инвестору
                            .tabs__item.tabs__item_inside(data-content="#tab3content") Документы
                            .tabs__item.tabs__item_inside(data-content="#tab4content") Реквизиты
            .content_about__content
                .container
                    .tabs__content.tabs__content--show.tabs__content--active#tab1content
                        .row 
                            .col-9.col-lg-12
                                .list
                                    .list__item
                                        .list__item-title Вознаграждение за размещение
                                        .list__item-content В размере 4% от стоимости Активов, в течение 30 календарных дней с даты зачисления Активов, переданного в доверительное управление.
                                    .list__item
                                        .list__item-title Описание стратегии управления
                                        .list__item-content Для предпочитающих умеренный риск портфель (до 70 % портфеля) из государственных ценных бумаг с фиксированной доходностью
                                    .list__item
                                        .list__item-title Ожидаемая доходность
                                        .list__item-content До 14%
                                    .list__item
                                        .list__item-title Частичное изъятие (вывод) Активов в период действия Договора
                                        .list__item-content Не более 40%. Неснижаемый остаток в размере 100 000 рублей РФ.
                                    .list__item
                                        .list__item-title Досрочное прекращение Договора ДУ по инициативе Клиента
                                        .list__item-content Предусмотрено. Неустойка не взымается.
                                    .list__item
                                        .list__item-title Досрочное прекращение Договора ДУ по инициативе Клиента
                                        .list__item-content 14 календарных дней с даты передачи первоначального денежного взноса.
                    .tabs__content#tab2content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et vitae nunc, venenatis vestibulum. Sit faucibus integer enim, sodales ac. Faucibus malesuada nisl orci egestas at in felis, purus, gravida. In pulvinar nunc enim mi. Cras porta tempus ultricies eros, mauris.
                        p Commodo in rhoncus erat cursus. Est dui egestas sed amet ut bibendum. Sed a magna eget arcu in nunc dui, lectus. Et tristique arcu amet sed vel non, lorem faucibus tortor. Quam mollis vulputate commodo, arcu. Ultricies augue faucibus odio in. Mattis elementum pellentesque pellentesque diam diam est. Lacinia et vel bibendum vel leo porttitor lectus erat quis. At nisl, pretium amet odio viverra nibh. Ornare dignissim justo mattis sed vulputate iaculis viverra cras id.
                    .tabs__content#tab3content
                        .document.mb-2.mb-md-1
                            p.text-bold Название файла, который можно сохранить
                            p.document__info PDF (12мб)
                            a.text-bold.link-inverse(href="#") Скачать файл
                        .document.mb-2.mb-md-1
                            p.text-bold Название файла, который можно сохранить
                            p.document__info PDF (12мб)
                            a.text-bold.link-inverse(href="#") Скачать файл
                        .document.mb-2.mb-md-1
                            p.text-bold Название файла, который можно сохранить
                            p.document__info PDF (12мб)
                            a.text-bold.link-inverse(href="#") Скачать файл
                    .tabs__content#tab4content
                            p Commodo in rhoncus erat cursus. Est dui egestas sed amet ut bibendum. Sed a magna eget arcu in nunc dui, lectus. Et tristique arcu amet sed vel non, lorem faucibus tortor. Quam mollis vulputate commodo, arcu. Ultricies augue faucibus odio in. Mattis elementum pellentesque pellentesque diam diam est. Lacinia et vel bibendum vel leo porttitor lectus erat quis. At nisl, pretium amet odio viverra nibh. Ornare dignissim justo mattis sed vulputate iaculis viverra cras id.
    include ../items/slider/slider.pug
    section.content.content_trust.bg-light-grey 
        .container 
            .row.align-items-center.align-items-md-start.flex-md-column-reverse
                .col-6.col-xl-7.col-lg-8.col-md-12 
                    p.h2.content_trust__heading-form О компании
                    p.content__offer.text-bold.mb-1 С нами инвестиции — это просто.
                    p.content__offer.mb-1 ITI Менеджмент — современная управляющая компания. Наша специализация — финансовые и инвестиционные услуги физическим лицам. Мы профессионально и эффективно управляем вашими средствами, помогая вам стабильно увеличивать доход. 
                    a.content_trust__link(href="#") Подробнее
                .col-6.col-xl-5.col-lg-4.col-md-12
                    img.content_trust__image(src="./img/default.png")
block footer
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    //- link(href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css", rel="stylesheet")
    link(href="./css/jquery-ui.css", rel="stylesheet")
    script(src="./js/jquery-ui.min.js")
    script(src="./js/jquery.ui.touch-punch.min.js")