.calculator{
    background-color: #fbfbfb;
    padding: map-get($map: $spacers, $key: 4) 0 map-get($map: $spacers, $key: 3);

    &__title{
        font-size: map-get($map: $font-size, $key: lg);
        filter: opacity(.6);
    }
    &__num{
        color: $green1;
        font-size: 64px;
        font-weight: $font-weight-bold;

        white-space: nowrap;
    }
    &__link{
        font-weight: $font-weight-bold;
        color: $green3;
    }

    &__result{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: map-get($map: $spacers, $key: 2);
    }
    &__return{
        position: relative;
    }
    &__ready{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    // Modal
    &__modal{
        display: none;

        position: absolute;
        top: -(map-get($map: $spacers, $key: 5));
        left: -(map-get($map: $spacers, $key: 4));
        z-index: 21;

        width: 375px;
        max-width: 100vw;

        font-weight: $font-weight-base;
        color: $black;

        border: 1px solid $green2;
        border-radius: $border-radius;
        background: $white;
        padding: 2*$spacer-gutter map-get($map: $spacers, $key: 1);

        &-close{
            position: absolute;
            top: 2*$spacer-gutter;
            right: map-get($map: $spacers, $key: 1);
            z-index: 11;

            width: 24px;
            height: 24px;

            background: url("../icon/close_black.svg") no-repeat center / 18px;
            cursor: pointer;

            transition: $transition-base;

            &:hover{
                filter: opacity(.6);
            }
        }
        &-label{
            color: $black;
            filter: opacity(.6);
            text-transform: uppercase;
            margin-bottom: map-get($map: $spacers, $key: 1);
            font-size: map-get($map: $font-size, $key: xs);
        }
        &-heading{
            font-size: map-get($map: $font-size, $key: lg);
            font-weight: $font-weight-bolder;
            margin-bottom: $spacer-gutter;
        }
    }

    // UI Slider
    &__slider{
        margin-top: map-get($map: $spacers, $key: 3);
        margin-bottom: map-get($map: $spacers, $key: 4);
    }
    .ui-slider.ui-slider-horizontal {
        background: $green1;
        height: 8px;
        border: none;
    }
    .ui-slider .ui-slider-handle {
        width: 64px; 
        height: 64px;
        top: -30px;
        border: none;
        background: transparent url('../icon/slider-handle.svg') no-repeat center / contain;
        outline: none;

    //     margin-left: -32px;
        transform: translateX(-16px);
    }
    .ui-slider .ui-slider-range {
        background: $green4;
        height: 8px;
    }
}
// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .calculator{
        &__title{
            font-size: map-get($map: $font-size, $key: md);
        }
        &__num{
            font-size: 52px;
        }
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .calculator{
        &__num{
            font-size: map-get($map: $heading, $key: h2);
        }
        &__result{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2*$spacer-gutter;
            padding-top: $spacer-gutter;
        }
        &__ready-btn{
            width: 100%;
        }
        // UI Slider
        &__slider{
            margin-top: map-get($map: $spacers, $key: 2);
            margin-bottom: map-get($map: $spacers, $key: 3);
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .calculator{
        &__ready{
            justify-content: flex-start;
            padding-top: $spacer-gutter;
        }
        &__ready-btn{
            width: auto;
        }
        &__modal{
            padding: 2*$spacer-gutter;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .calculator{
        padding: map-get($map: $spacers, $key: 3) 0;
        
        &__num{
            font-size: map-get($map: $heading, $key: h3);
        }
        &__result{
            grid-template-columns: 1fr;
        }

        &__modal{
            left: 0;
            max-width: 100%;
        }
    }
}

// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .calculator{
        &__ready-btn{
            width: 100%;
        }
    }
}