.content_trust{
    &__heading{
        font-weight: $font-weight-bold;
        // margin-bottom: $spacer-gutter;
    }
    &__link{
        font-weight: $font-weight-bold;
        color: $green1;
    }
    &__image{
        display: block;
        margin-left: auto;

        width: 450px;
        height: auto;

        max-width: 100%;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content_trust{
        &__heading-form{
            font-size: map-get($map: $heading, $key: h2);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content_trust{
        padding: map-get($map: $spacers, $key: 3) 0;
        overflow: hidden;

        &__image{
            max-width: unset;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content_trust{
        &__image{
            margin-left: 0;
            margin-bottom: map-get($map: $spacers, $key: 3);
            max-width: 100%;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content_trust{
        &__heading-form{
            font-size: map-get($map: $heading, $key: h4);
        }
    }
}
// @media all and (max-width: map-get($grid-breakpoints, 'xs')){
//     .content_trust{
//         &__image{
//             margin-bottom: map-get($map: $spacers, $key: 3);
//         }
//     }
// }
