.content_strategy{
    background: $grey;
    padding: map-get($map: $spacers, $key: 4) 0;

    &__offer{
        width: 610px;
        max-width: 100%;

        margin-bottom: map-get($map: $spacers, $key: 2);
    }
    &__image{
        display: block;
        margin-left: auto;

        width: 390px;
        height: auto;

        max-width: 100%;
    }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content_strategy{
        overflow: hidden;

        &__offer{
            margin-bottom: map-get($map: $spacers, $key: 1);
        }
        &__image{
            // max-width: unset;
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content_strategy{
        &__offer{
            margin-bottom: $spacer-gutter;
        }
        &__image{
            // max-width: 100%;
            width: 280px;
            margin: 0 auto map-get($map: $spacers, $key: 3);
        }
        
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content_strategy{
        padding: map-get($map: $spacers, $key: 3) 0;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content_strategy{
        &__image{
            margin-bottom: map-get($map: $spacers, $key: 3);
        }
    }
}