.content_has-slider{
    overflow: hidden;
    padding: map-get($map: $spacers, $key: 5) 0 72px;
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content_has-slider{
        padding: map-get($map: $spacers, $key: 3) 0;
    }
}