.content_about{
    padding: map-get($map: $spacers, $key: 4) 0 0;

    &__nav{
        // border-bottom: 1px solid rgba(26,26,26,0.2);
        position: relative;

        &:after{
            content: '';
            display: block;
            height: 1px;
            background-color: $black;
            filter: opacity(.2);

            transform: translateY(-$spacer-gutter);
        }
    }
    &__content{
        background: #F6F6F6;
        padding: 64px 0 map-get($map: $spacers, $key: 5);

        margin-top: -($spacer-gutter);
    }
}
// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content_about{
        &__nav{
            &:after{
                transform: translateY(-28px);
            }
        }
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content_about{
        &__content{
            padding: 80px 0;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content_about{
        padding: map-get($map: $spacers, $key: 1) 0 0;

        &__nav{
            // &:after{
            //     transform: translateY(-$spacer-gutter);
            // }
            // &__nav-tabs{
            //     transform: translateY(-$spacer-gutter);
            // }
        }
        &__content{
            padding: map-get($map: $spacers, $key: 3) 0;
            margin-top: -($spacer);
        }
    }
}