.content_props{
    background: #F7F7F7;
    padding: 80px 0;
}

// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content_props{
        padding: map-get($map: $spacers, $key: 3) 0;
    }
}